[Desktop Entry]
Name=Bluetooth
Comment=Command-line Bluetooth manager
Exec=bash -c '/usr/bin/pkexec systemctl start bluetooth && footclient --app-id=bluetooth --title="Bluetooth Control" bluetoothctl'
Icon=bluetooth
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
